:root {
    --brick: #7a0f0f;
    --dark-brick: #5e0404;
    --black-brick: #260707;
    --royal-blue: #111c84;
    --slate-blue: #3a417a;
    --beige: #f5f5dc;
    --taupe: #b2b297;
    --char-brown: #7f7f6b;
    --dk-for-green: #204413;
    --blk-green: #0c1c07;
    --tan0: #DBD4C7;
    --tan1: #CAB699;
    --tan2: #A97F55;
    --tan3: #614320;
    --tan4: #201B10;
    --font1: 
    --font2:
    --font3:
    --font-size1:

}